@model Product

@{
    var categories = ViewBag.Categories;
}

<h2>Edit Product</h2>

<form asp-action="Edit">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="ProductId" />

    <div class="form-group mt-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" value="@Model.Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" value="@Model.Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control" value="@Model.Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="Quantity" class="form-label"></label>
        <input asp-for="Quantity" class="form-control" value="@Model.Quantity" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="ImagePath" class="form-label"></label>
        <input asp-for="ImagePath" class="form-control" value="@Model.ImagePath" />
    </div>

    <div class="form-group mt-3">
        <label asp-for="Category" class="form-label"></label>
        <select asp-items="ViewBag.Categories" asp-for="CategoryId" class="form-control"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="my-4">
        <input type="submit" name="name" value="Edit Product" class="btn btn-warning mx-2" />
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary mx-2">Back</a>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}